---

---
<div class="row1 row">
    <div class="col-lg-5">
      <img src="img/group269.png" alt="workingspace" class="imggroup img-fluid">
    </div>
    <div class="col-lg-6">
      <h3 class="t1">Produk</h3>
      <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem explicabo fugit provident vel illum voluptatibus consectetur vero quisquam impedit dolore officiis sint, beatae unde quidem ullam, nesciunt excepturi numquam!</p>
      <a href="" class="a2">lihat detail produk     →</a>
    </div>
  </div>
