---

---
<div id="product" class="row-product row justify-content-center">
    <div class="container-image col-lg-5">
      <img src="img/group269.png" alt="workingspace" class="product-img img-fluid">
    </div>
    <div class="container-product col-lg-6">
      <h3 class="title-product">Produk</h3>
      <div class="line-1"></div>
      <p class="text-product">Kami menyediakan investasi rumah dengan sistem joint venture dengan modal yang kecil, transparan, aman dan terpercaya. Nikmati profit atau imbal hasil setelah rumah telah dijual dengan proses cepat.</p>
      <a href="#" class="btn color_btn rounded">Lihat detail produk <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
  
  
  <style>
.row-product {
  width: 100%;
  margin-bottom: 10%;
}
.title-product {
  overflow-y: hidden;
  color: #707070;
}
.line-1 {
  width: 216px;
  height: 2px;
  background: #E2E2E2;
}
.text-product {
  color: #707070;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 15px;
}
.container-image {
  padding-left: 67px;
}

.color_btn {
    background: linear-gradient(284.5deg, #4169e1 0%, #5b84ff 101.21%);
    color:white;
    border-radius: 20px !important;
  }

.container-product {
  padding-right: 55px;
  padding-left: 20px;
}
.product-img {
  width: 424px;
  height: 319px;
}
.link-product {
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  .container-image {
    margin-right: 18px;
    padding-left: 65px;
    width: 40%%;
    height: 221px;
  }
  .product-img {
    margin-left: 0;
    padding-right: 20px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .row-product {
    justify
    display: grid;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4%;
    padding-right: 3%;
  }
  .container-product {
    margin-top: 10%;
    padding: 0;
  }
  .container-image {
    padding: 0;
    margin: 0;
    width: 330px;
    height: 250px;
  }
  .product-img {
    justify-content: center;
    padding: 0;
  }
  .text-product {
    width: 100%;
    margin-top: 30px;
  }
  .line-1 {
    width: 216px;
  }
}

@media only screen and (max-width: 360px) {
  .row-product {
    margin-top: 200px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .container-image {
    padding: 0 15% 18% 15%;
  }
  .line-1 {
    width: 40%;
  }
}
  </style>
