---

---
<div id="product" class="row1 row">
    <div class="col-lg-5">
      <img src="img/group269.png" alt="workingspace" class="imggroup img-fluid">
    </div>
    <div class="col-lg-6">
      <h3 class="t1">Produk</h3>
      <p class="p2">Kami menyediakan investasi rumah dengan sistem joint venture dengan modal yang kecil, transparan, aman dan terpercaya. Nikmati profit atau imbal hasil setelah rumah telah dijual dengan proses cepat  </p>
      <a href="" class="a2">Lihat detail     →</a>
    </div>
  </div>
