---
---

<div class="row justify-content-center">
  <div class="col-10 py-5">
    <div class="row">
      <p>© Copyright. HomeFunding ID . All rights reserved</p>
    </div>
    <div class="row">
      <p>
        HomeFunding ID adalah aplikasi investasi properti di Indonesia dan
        dikembangkan oleh io-Technology dengan misi membuka kesempatan investasi
        rumah yang mudah dan keuntungan yang cepat.
      </p>
    </div>
    <div class="row">
      <p>
        Aset properti oleh HomeFunding ID terdaftar dan diawasi oleh Bappebti.
      </p>
    </div>
  </div>
</div>

<style scoped>
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    color: #707070;
  }

  @media only screen and (max-width: 428px) {
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 20px;

      color: #707070;
    }
  }
</style>
