---
---

<div id="visi" class="row bg justify-content-center mt-5">
  <div class="col-10">
    <div class="row justify-content-between py-5 gap-5">
      <div class="col-lg-5">
        <h1 class="titleVisi text-center overflow-hidden">Visi</h1>
        <div class="d-flex justify-content-center">
          <p class="line"></p>
        </div>
        <p class="textVisi mt-3">
          Menjadikan HomeFunding sebagai aplikasi investasi rumah terpercaya
          di Indonesia.
        </p>
      </div>

      <div class="col-lg-5">
        <h1 class="titleMisi text-center overflow-hidden">Misi</h1>
        <div class="d-flex justify-content-center">
          <p class="line"></p>
        </div>
        <p class="textMisi mt-3">
          Meningkatkan peluang investasi rumah di Indonesia dan memberikan user
          pengalaman terbaik investasi rumah lewat aplikasi dengan menjalin
          kepercayaan dan hubungan saling menguntungkan dengan mitra usaha
          selama 3 - 6 bulan sehingga membuat aplikasi yang dapat dipercaya
          untuk masalah investasi rumah dan pasti aman untuk digunakan.
        </p>
      </div>
    </div>
  </div>
</div>

<style scoped>
  .row.bg {
    background: #f4f9ff;
  }
  .titleVisi {
    font-style: normal;
    font-weight: bolder !important;
    font-weight: 275;
    font-size: 35px;
    line-height: 52px;
    color: #707070;
  }
  .textVisi {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #707070;
  }

  .color_btn {
    background: linear-gradient(284.5deg, #4169e1 0%, #5b84ff 101.21%);
  }

  .line {
    border: 2px solid #e2e2e2;
    width: 216px;
  }

  .titleMisi {
    font-style: normal;
    font-weight: 275;
    font-size: 35px;
    line-height: 52px;
    font-weight: bolder !important;
    color: #707070;
  }
  .textMisi {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #707070;
  }

  @media only screen and (max-width: 428px) {
    .titleVisi {
      font-style: normal;
      font-weight: 275;
      font-size: 25px;
      line-height: 38px;
    }
    .textVisi {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }
    .titleMisi {
      font-style: normal;
      font-weight: 275;
      font-size: 25px;
      line-height: 38px;
    }
    .textMisi {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }
  }
</style>
