---

---
<div class="card-body">
    <div class="content-group">
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="judulcritic comment-reply-title">
                Kirim Masukan
            </h3>
            <div class="line-3" style="position: relative;display:grid;">
                <hr>
              </div>
            <form id="commentform" class="comment-form" action="" method="">
                <div class="row">
                    <div class="kolomkritik col-lg-5">
                <p class="comment-form-comment">
                    <label for="comment">Nama<span class="bintang">*</span></label>
                    <br>
                    <input class="tabelisi" id="author" name="author" type="text"
                    value="" size="30" required="required">
                </p>
                </div>
                <div class="kolomkritikemail col-lg-5">
                    <p class="comment-form-comment">
                        <label for="comment">E-mail<span class="bintang">*</span></label>
                        <br>
                    <input class="tabelisiemail" id="author" name="author" type="text"
                    value="" size="30" required="required">
                    </p>
                </div>
                <div class="kolomkritik col-lg-5">
                    <p class="komenform comment-form-comment">
                        <label for="comment">Nomor Telepon<span class="bintang">*</span></label>
                        <br>
                    <input class="tabelisi" id="author" name="author" type="text"
                    value="" size="30" required="required">
                    </p>
                    </div>
                </div>
                <div class="row">
                    <p class="komenform comment-form-comment">
                        <label for="comment">Pesan atau masukan yang ingin kamu sampaikan?</label>
                        <br>
                        <textarea class="kolomkomen" name="comment" id="comment" cols="30" rows="10"></textarea>
                    </p>
                    <p class="form-submit">
                        <input id="submit" class="submit" name="submit" type="submit" value="Kirim">
                    </p>
                    </div>
            </form>
        </div>
    </div>
</div>