---

---
<div style="margin-top: 100px;margin-bottom: 47px;font-size: 50px;margin-left:50px">Artikel</div>
<div class="row justify-content-left" style="margin-top:50px;margin-left:50px">
    <div class="col info-panel">
      <div class="row">
        <div class="col-lg">
          <img src="/img/gambar1.png" style="margin-bottom: 30px;margin-right: px; width: 100%; height:201px" alt="system" class="float-center">
          <h4 class="title_article">Sistem yang mudah</h4>
          <p style="font-size: 15px;margin-top: 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit perspiciatis odit architecto, dolorum expedita dolores porro provident exercitationem natus, nam, placeat est illo soluta cumque ab reiciendis libero molestias corporis.</p>
        </div>
        <div class="col-lg">
          <img src="/img/gambar2.png" style="margin-bottom: 30px;margin-right: 8px; width: 100%; " alt="education" class="float-center">
          <h4>Saling menguntungkan</h4>
          <p style="font-size: 15px;margin-top: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis vitae perferendis inventore expedita consequatur consequuntur, dicta sunt incidunt, temporibus sapiente, saepe quisquam officiis adipisci qui quod porro facilis? Accusamus?</p>
        </div>
        <div class="col-lg">
          <img src="/img/gambar3.png" style="margin-bottom: 31px; width: 100%; height:201px" alt="benefit" class="float-center">
          <h4>Edukasi</h4>
          <p style="font-size: 15px;margin-top: 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni vero labore quod error sunt numquam voluptatem magnam nesciunt, pariatur culpa quis nisi fuga excepturi consequatur fugiat? Dolore illum veniam repellat.</p>
        </div>
      </div>
    </div>
  </div>
