/* Navbar */
.navbar {
  position: relative;
}
.navbar {
  background-image: linear-gradient(to left, #4169e1, #5b84ff);
}
.navbar-brand {
  width: 169px;
  height: 30px;
  left: 26px;
  top: 19px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
.navbar-toggler img {
  width: 32px;
  height: 17.86px;
  left: 312px;
  top: 13px;
}
.nav-item {
  font-size: 15px;
  text-align: center;
  margin-left: 20px;
}
.nav-link {
  width: 120%;
}
.nav-item .download {
  width: 140px;
  margin-top: 4px;
}
/* End Navbar */

/* Cover */
.main {
  background: linear-gradient(284.5deg, #4169e1 0%, #5b84ff 101.21%);
}
.baris1 {
  padding-block: 40px;
}
.kolom1 {
  align-self: center;
}
.title {
  height: 150px;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
  margin-bottom: 30px;
}
.space {
  margin-top: 40px;
  margin-right: 20px;
}
.text {
  width: 670px;
  height: 69px;
  left: 156px;
  top: 326px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: rgba(255, 255, 255, 0.7);
}
.download {
}
.get-now {
  padding: 5px 40px;
  gap: 10px;
  width: 156px;
  height: 44px;
  left: 156px;
  top: 417px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 77px;
}
.vector {
  height: 455px;
}
/* End Cover */

/* About */
.titleabout {
  width: 189px;
  height: 83px;
  font-weight: 275;
  font-size: 55px;
  line-height: 82px;
  color: #707070;
}
.kolomabout {
  text-align: left;
}
.kolomimg {
  background-color: #f4f9ff;
  width: 500px;
}
.coverimg {
  width: 450px;
  height: 250px;
}
.kolombg {
  background-color: white;
}
.titleabout {
  height: 83px;
  font-weight: 275;
  font-size: 55px;
  line-height: 82px;
  color: #707070;
  margin-top: -10px;
}
.titleabout2 {
  font-style: normal;
  font-weight: 150;
  font-size: 55px;
  line-height: 82px;
  color: #707070;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #707070;
}
/* End About */

/* Advantage */
h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-left: 50px;
}
.advantageimg {
  margin-bottom: 30px;
  margin-left: 60px;
  width: 139px;
  height: 139px;
}
.p1 {
  font-size: 15px;
  margin-top: 50px;
  text-align: left;
}
.juduladv {
  font-weight: bold;
  text-align: left;
}
/* End Advantage */

/* Product */
.row1 {
  margin-top: 100px;
  margin-left: 20px;
}
.t1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}
.a1 {
  font-size: 15px;
}
.imggroup {
  margin-left: 70px;
}
.p2 {
  font-size: 15px;
}
/* End Product */

/* Article */
.ar1 {
  margin-top: 100px;
  margin-bottom: 47px;
  font-size: 45px;
  margin-left: 140px;
  font-weight: bold;
}
.arimg {
  margin-bottom: 50px;
}
.row2 {
  margin-top: 50px;
  margin-left: 108px;
}
/* End Article */

/* Tips */
.container1 {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin-top: -80px;
  background-color: white;
  padding: 30px;
  opacity: 1;
}
.jumbotron {
  margin-top: 156px;
  background-image: url(img/background.png);
  height: 439px;
  text-align: center;
  position: relative;
}
.info-panel {
  border-radius: 12px;
  margin-bottom: -20px;
  background-color: white;
  padding: 30px;
}
.cont1 {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 300px;
  padding-top: 60px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  width: 456px;
  height: 470px;
  margin-right: 20px;
  text-align: left;
  position: relative;
  top: 30px;
}
.title1 {
  font-size: 35px;
  margin-left: 30px;
  text-align: left;
}
.title2 {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 70px;
  text-align: left;
}
.title3 {
  font-size: 15px;
  margin-left: 30px;
  text-align: left;
}
.link1 {
  font-size: 15px;
  margin-left: 250px;
}
.about_row {
  margin-left: 70px;
}
/* End Tips */
@media only screen and (max-width: 680px) {
  .about_row {
    margin-left: 0px;
  }
  #product {
  }
  html,
  body {
    max-width: 100%;
  }
  #navbarSupportedContent {
    text-align: center;
  }

  .nav-item {
    margin-right: 50px;
    margin-top: 10px;
  }
  .btn_nav {
    width: 100%;
  }

  .nav-item a:not(:first-child) {
    display: none;
  }
  .nav-item a.icon {
    float: right;
    display: block;
  }
  /* .nav-item.responsive {
    position: relative;
  }
  .nav-item.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  } */
  /* .nav-item.responsive li {
    float: none;
    display: block;
    text-align: left;
  } */
  /* .navbar {
    height: 68px;
    background: linear-gradient(271.06deg, #4169e1 -26.94%, #5b84ff 100%);
  }
  a .navbar-brand {
    font-size: 50px;
  }
  .navbar-toggler img {
    width: 32px;
    height: 17.86px;
    left: 312px;
    top: 13px;
  }
  .nav-item {
    font-size: 15px;
    width: 100px;
    font-style: normal;
  } */
  /* .nav-link {
    width: 120%;
  } */
  .about_row {
    width: 100%;
    flex-direction: column-reverse;
  }
  .cover1 {
    width: 100%;
  }
  .kolom2 {
    text-align: center;
  }
  .text {
    width: auto;
  }
  h2 {
    text-align: left;
  }
  .t1 {
    margin-top: 50px;
  }
  .t2 {
    text-align: left;
    margin-left: 10px;
  }
  .p1 {
    margin-left: 10px;
    margin-top: 25px;
  }
  .p2 {
    margin-bottom: 30px;
  }
  .advantageimg {
    margin-left: 10px;
  }
  .titleadv {
    margin-left: 20px;
  }
  .juduladv {
    margin-left: 10px;
  }
  .imggroup {
    width: 310px;
    margin-left: 0px;
  }
  .ar1 {
    margin-left: 65px;
  }
  .p3 {
    margin-left: -70px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .a3 {
    margin-left: -70px;
    margin-bottom: 100px;
  }
  .cont1 {
    position: absolute;
    margin-left: 15px;
    background-size: fixed;
    width: 400px;
  }
  .link1 {
    margin-left: 200px;
  }
}
