/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar {
  background-image: linear-gradient(to left, #4169E1,#5B84FF);
}

/* End Navbar */

/* About */
.titleabout {
  width: 189px;
  height: 83px;
  font-weight: 275;
  font-size: 55px;
  line-height: 82px;
  color: #707070;
  margin-top: -10px;
}
.titleabout2 {
  font-style: normal;
  font-weight: 150;
  font-size: 55px;
  line-height: 82px;
  color: #707070;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #707070;
}
/* End About */

/* Advantage */
h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-left: 50px;
}
.advantageimg {
  margin-bottom: 30px;
  margin-left: 60px;
  width: 139px;
  height: 139px;
}
.p1 {
  font-size: 15px;
  margin-top: 50px;
  text-align: left;
}
.juduladv {
  font-weight: bold;
  text-align: left;
}
/* End Advantage */

/* Product */
.row1 {
  margin-top: 100px;
  margin-left: 50px;
}
.t1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}
.a1 {
  font-size: 15px;
}
.imggroup {
  margin-left: 70px;
}
/* End Product */

/* Article */
.ar1 {
  margin-top: 100px;
  margin-bottom: 47px;
  font-size: 45px;
  margin-left: 140px;
  font-weight: bold;
}
.arimg {
  margin-bottom: 50px;
}
.row2 {
  margin-top:50px;
  margin-left:108px
}
/* End Article */

/* Tips */
.container1 {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin-top: -80px;
  background-color: white;
  padding: 30px;
  opacity: 1;
}
.jumbotron {
  margin-top: 156px;
  background-image: url(img/background.png);
  height: 439px;
  text-align: center;
  position: relative;
}
.info-panel {
  border-radius: 12px;
  margin-bottom: -20px;
  background-color: white;
  padding: 30px;
}
.cont1 {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 300px;
  padding-top: 60px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  width: 456px;
  height: 470px;
  margin-right: 20px;
  text-align: left;
  position: relative;top: 30px;
}
.title1 {
  font-size: 35px;
  margin-left: 30px;
  text-align: left;
}
.title2 {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 70px;
  text-align: left;
}
.title3 {
  font-size: 15px;
  margin-left: 30px;
  text-align: left;
}
.link1 {
  font-size: 15px;
  margin-left: 250px;
}
/* End Tips */
@media only screen and (max-width: 680px) {

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 3px;
    margin-bottom: -8px;
}
  h2 {
    text-align: left;
  }
  .t1 {
    margin-top: 50px;
  }
  .t2 {
    text-align: left;
    margin-left: 40px;
  }
  .p1 { 
    margin-left: 40px;
    margin-top: 25px;
  }
  .p2 {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .juduladv {
    margin-left: 40px;
  }
  .advantageimg {
    margin-left: 140px;
    margin-top: 50px;
  }
  .imggroup {
    width: 310px;
    margin-left: 0px;
  }
  .ar1 {
    margin-left: 65px;
  }
  .arimg {
    margin-left: -70px;
    margin-bottom: 35px;
    margin-top: -30px;
    width: 290px;
    height: 201px
  }
  .tittle_article {
    margin-left: -70px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .p3 {
    margin-left: -70px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .a3 {
    margin-left: -70px;
    margin-bottom: 100px;
  }
  .cont1 {
    position: absolute;
    margin-left: 50px;
    background-size: fixed;
  }
}