---
---

<div class="row jutify-content-center mt-5 ">
  <div class="col-10">
    <h1 class="overflow-hidden">Apa itu</h1>
    <h1 class="overflow-hidden"><strong>HomeFunding ID</strong></h1>
    <strong>HOME FUNDING ID </strong>adalah aplikasi investasi rumah dengan
    <p>
      dengan sistem Joint Venture, jual beli rumah dengan BEP & Keuntungan
      selama 3 – 6 Bulan. Satu-satunya investasi yang tidak menahan dana untuk
      withdraw setelah 6 bulan lewat.
    </p>
  </div>
</div>

<style scoped>
/* .titileabout {
  width: max-content;
} */
  /* @media (max-width: 1024px) {

  }

  @media only screen and (max-width: 480px) {

  } */
</style>
