---
// import AboutVue from "./About.vue";
---
<div class="row mt-5 justify-content-center">
    <div class="col-lg-5">
      <h1 class="titleabout">Apa itu</h1>
      <h1 class="titleabout2"><strong>HomeFunding ID</strong></h1>
      <p>
        <strong>HOME FUNDING ID </strong>adalah aplikasi investasi rumah dengan dengan sistem Joint Venture, jual beli rumah dengan BEP & Keuntungan
        selama 3 – 6 Bulan. Satu-satunya investasi yang tidak menahan dana untuk
        withdraw setelah 6 bulan lewat.
      </p>
    </div>
    <div class="col-lg-5">
      <img src="../../../img/Image.png" />
    </div>
  </div>
<!-- <AboutVue client:load></AboutVue> -->
