---
---

<div class="row justify-content-center mt-5">
  <div class="col-10 px-0">
    <h1 class="title1 overflow-hidden">Apa itu</h1>
    <h1 class="title2 overflow-hidden"><strong>HomeFunding ID</strong></h1>
    <p class="text">
      <strong>HOME FUNDING ID</strong> adalah aplikasi investasi rumah dengan dengan
      sistem Joint Venture, jual beli rumah dengan BEP & Keuntungan selama 3 – 6
      Bulan. Satu-satunya investasi yang tidak menahan dana untuk withdraw setelah
      6 bulan lewat.
    </p>
  </div>
</div>

<style scoped>
  .title1 {
    font-style: normal;
    font-weight: 275;
    font-size: 45px;
    line-height: 68px;
    color: #707070;
  }

  .title2 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    color: #707070;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #707070;
  }

  @media (max-width: 600px) {
    .title1 {
      font-style: normal;
      font-weight: 275;
      font-size: 35px;
      line-height: 52px;
      color: #707070;
    }
    .title2 {
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 52px;
      color: #707070;
    }

    .text {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;

      color: #707070;
    }
  }

  @media only screen and (max-width: 428px) {
    .title1 {
      font-style: normal;
      font-weight: 275;
      font-size: 35px;
      line-height: 52px;

      color: #707070;
    }

    .title2 {
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 52px;

      color: #707070;
    }

    .text {
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 20px;

      color: #707070;
    }
  }
</style>
