---
// import AboutVue from "./About.vue";
---

<div class="about_row row mt-5">
  <div class="coloumnabout col-lg-5">
    <h1 class="titleabout">Apa itu</h1>
    <h1 class="titleabout2"><strong>HomeFunding ID</strong></h1>
    <p>
      <strong>HOME FUNDING ID </strong>adalah aplikasi investasi rumah dengan
      dengan sistem Joint Venture, jual beli rumah dengan BEP & Keuntungan
      selama 3 – 6 Bulan. Satu-satunya investasi yang tidak menahan dana untuk
      withdraw setelah 6 bulan lewat.
    </p>
  </div>
  <div class="coloumn_img col">
    <div class="coloumn_bg col float-center">
      <img class="coverimg" src="../../../img/aboutimg.png" />
    </div>
  </div>
</div>
<!-- <AboutVue client:load></AboutVue> -->

<style>
  .about_row {
    position: relative;
    margin-left: 115px;
  }
  .coloumn_img {
    margin: auto;
    background-color: gray;
  }
  .coloumn_bg {
    margin-left: 10px;
  }

  @media (max-width: 1024px) {
    .about_row {
      position: relative;
      width: 100%;
      margin-left: 70px;
    }
  }

  @media only screen and (max-width: 480px) {
    .about_row {
      margin: auto;
      width: 100%;
    }
    .coloumn_img {
      margin-top: 10px;
      margin-right: 10px;
      width: 100%;
    }
  }
</style>
