---
// import BaseHead from '../components/BaseHead.astro';
import Navbar from "../layouts/Navbar/Navbar.astro";
// import Metrics from '../layouts/Metrics/Metrics.astro';
import Cover from "../layouts/Cover/Cover.astro";
import About from "../layouts/About/About.astro";
import VisiMisi from "../layouts/VisiMisi/VisiMisi.astro";
import Advantage from "../layouts/Advantage/Advantage.astro";
import Product from "../layouts/Product/Product.astro";
import Article from "../layouts/Article/Article.astro";
import Tips from "../layouts/Tips/Tips.astro";
import Critic from "../layouts/Critic/Critic.astro";
import Footer from "../layouts/Footer/Footer.astro";
import Copyright from "../layouts/Copyright/Copyright.astro";
import Notif from "../layouts/NoticeNotif/Notif.astro";
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
// import KebijakanPrivasi from "./FooterPrivacy/KebijakanPrivasi.astro";
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title="HomeFunding | Investasi Property"
      description="HomeFunding adalah platform investasi properti yang memungkinkan kamu untuk berinvestasi di properti dengan modal yang terjangkau."
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", type: "image/x-icon", href: "/img/Logo.png" }],
        // extending the default meta tags
        meta: [
          {
            name: "keywords",
            content:
              "HomeFunding, Investasi Properti, Investasi, Properti, Investasi Properti Online, Investasi Properti Syariah, Investasi Properti Tanpa Modal, Investasi Properti Mudah, Investasi Properti Murah, Investasi Properti Terpercaya, Investasi Properti Aman, Investasi Properti Halal, Investasi Properti Syariah Online, Investasi Properti Syariah Mudah, Investasi Properti Syariah Murah, Investasi Properti Syariah Terpercaya, Investasi Properti Syariah Aman, Investasi Properti Syariah Halal, Investasi Properti Syariah Tanpa Modal, Investasi Properti Syariah Online Terpercaya, Investasi Properti Syariah Online Aman, Investasi Properti Syariah Online Halal, Investasi Properti Syariah Online Tanpa Modal, Investasi Properti Syariah Online Mudah, Investasi Properti Syariah Online Murah, Investasi Properti Syariah Online Terpercaya, Investasi Properti Syariah Online Aman, Investasi Properti Syariah Online Halal, Investasi Properti Syariah Online Tanpa Modal, Investasi Properti Syariah Online Mudah, Investasi Properti Syariah Online Murah",
          },
          {
            name: "author",
            content: "HomeFunding",
          },
          {
            name: "description",
            content:
              "HomeFunding adalah platform investasi properti yang memungkinkan kamu untuk berinvestasi di properti dengan modal yang terjangkau.",
          },
          {
            name: "og:title",
            content: "HomeFunding | Investasi Property",
          },
          {
            name: "og:description",
            content:
              "HomeFunding adalah platform investasi properti yang memungkinkan kamu untuk berinvestasi di properti dengan modal yang terjangkau.",
          },
          {
            name: "og:image",
            content: "/img/Logo.png",
          },
          {
            name: "og:url",
            content: "https://homefund-id.tech",
          },
          {
            name: "og:site_name",
            content: "HomeFunding",
          },
          {
            name: "twitter:card",
          },
        ],
      }}
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Icon Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <!-- <Notif /> -->
    <Navbar />
    <Cover />
    <About />
    <!--  -->
    <VisiMisi />
    <Advantage />
    <Product />
    <!-- <Article /> -->
    <!-- <Tips /> -->
    <Critic />
    <Footer />
    <Copyright />
    {/* <Metrics /> */}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>
</html>
