---
// import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../layouts/Navbar/Navbar.astro";
// import Metrics from '../layouts/Metrics/Metrics.astro';
import Cover from "../layouts/Cover/Cover.astro";
import About from "../layouts/About/About.astro";
import VisiMisi from "../layouts/VisiMisi/VisiMisi.astro";
import Advantage from "../layouts/Advantage/Advantage.astro";
import Product from "../layouts/Product/Product.astro";
import Article from "../layouts/Article/Article.astro";
import Tips from "../layouts/Tips/Tips.astro";
import Critic from "../layouts/Critic/Critic.astro";
import Footer from "../layouts/Footer/Footer.astro";
import Copyright from "../layouts/Copyright/Copyright.astro";
import Notif from "../layouts/NoticeNotif/Notif.astro";
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href='/img/logo.png"' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HomeFunding | Investasi Property</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Icon Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Notif /> -->
    <Navbar />
    <Cover />
    <About />
    <!--  -->
    <VisiMisi />
    <Advantage />
    <Product />
    <!-- <Article /> -->
    <Tips />
    <Critic />
    <Footer />
    <Copyright />
    {/* <Metrics /> */}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>
</html>
