---

---


<div class="notif_astro">
    <p>Saat Ini Website sedang dalam masa pengembangan</p>
    <p>Waktu diperkirakan selesai 30 Juli mendatang, Terima kasih</p>
</div>


<style scoped>
    .notif_astro {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }
</style>