---

---
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="cont1 container">
        <div class="title1">Hunian</div>
          <h5 class="title2">Bagaimana cara mencari<br>hunian?</h5>
            <p class="title3">Apakah anda masih bingung untuk mencari hunian yang baik untuk anda dan keluarga ? kami berikan tips & trick seputar cara mencari hunian yang cocok bagi anda dan keluarga, simak ulasan berikut ini</p>
            <a href="#" class="link1">Lihat Penilaian Kami     →</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg">
        </div>
      </div>
    </div>
</div>

<style>
  .title2 {
    overflow-x: hidden;
    overflow-y: hidden;;
  }
</style>
