---

---
<div style="margin-top: 100px;font-size: 50px;text-align: center;font-weight: bold;">Keunggulan kami</div>
<div class="row justify-content-center" style="margin-top: 50px">
    <div class="col-lg-10 info-panel" style="text-align: center;">
      <div class="row">
        <div class="col-lg">
          <img class="advantage" src="/img/system.png" style="margin-bottom: 30px; width: 100px; height: 100px" alt="system" class="float-left">
          <div style="text-align: left;">
            <h4>Sistem yang mudah</h4>
          <p style="font-size: 15px;margin-top: 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit perspiciatis odit architecto, dolorum expedita dolores porro provident exercitationem natus, nam, placeat est illo soluta cumque ab reiciendis libero molestias corporis.</p>
          </div>
        </div>
        <div class="col-lg">
          <img src="/img/benefit.png" style="margin-bottom: 30px; width: 100px; height: 100px" alt="education" class="float-left">
          <div style="text-align: left;">
            <h4>Saling menguntungkan</h4>
          <p style="font-size: 15px;margin-top: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis vitae perferendis inventore expedita consequatur consequuntur, dicta sunt incidunt, temporibus sapiente, saepe quisquam officiis adipisci qui quod porro facilis? Accusamus?</p>
          </div>
        </div>
        <div class="col-lg">
          <img src="/img/education.png" style="margin-bottom: 31px; width: 100px; height: 100px" alt="benefit" class="float-left">
          <div style="text-align: left;">
            <h4>Edukasi</h4>
          <p style="font-size: 15px;margin-top: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nisi excepturi assumenda vel suscipit optio corrupti inventore odit dolores. Recusandae adipisci quia magni, vero sequi voluptate ipsa natus animi aliquid.</p>
          </div>
        </div>
      </div>
    </div>
  </div>