---

---
<h2>Keunggulan kami</h2>
<div class="row justify-content-center">
    <div class="col-lg-10 info-panel">
      <div class="row justify-content-center">
        <div class="col-lg">
          <img class="advantageimg" src="/img/system.png" alt="system" class="float-left">
          <div>
            <h4 class="t2">Sistem yang mudah</h4>
          <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit perspiciatis odit architecto, dolorum expedita dolores porro provident exercitationem natus, nam, placeat est illo soluta cumque ab reiciendis libero molestias corporis.</p>
          </div>
        </div>
        <div class="col-lg">
          <img class="advantageimg" src="/img/benefit.png" alt="education" class="float-left">
          <div>
            <h4 class="t2">Saling menguntungkan</h4>
          <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis vitae perferendis inventore expedita consequatur consequuntur, dicta sunt incidunt, temporibus sapiente, saepe quisquam officiis adipisci qui quod porro facilis? Accusamus?</p>
          </div>
        </div>
        <div class="col-lg">
          <img class="advantageimg" src="/img/education.png" alt="benefit" class="float-left">
          <div>
            <h4 class="t2">Edukasi</h4>
          <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nisi excepturi assumenda vel suscipit optio corrupti inventore odit dolores. Recusandae adipisci quia magni, vero sequi voluptate ipsa natus animi aliquid.</p>
          </div>
        </div>
      </div>
    </div>
  </div>