---
---

<!-- <h2 id="feature" class="title_adv" style="margin-bottom:100px;margin-top:100px">Keunggulan kami</h2> -->
<div class="row-adv row justify-content-center">
  <div class="info-panel">
    <div class="grid-system col-lg text-left">
      <div class="container-system">
        <h4 class="title-system">Sistem yang mudah</h4>
        <img class="system-img" src="/img/system.png" alt="system" />
      </div>
      <div class="container-text-system">
        <p class="text-system">
          Anda dapat dengan mudah berinvestasi rumah dan tidak perlu
          mengeluarkan modal yang besar untuk mulai berinvestasi karena sistem
          kami, anda bisa mulai berinvestasi rumah dengan modal yang kecil.
        </p>
      </div>
    </div>
    <div class="grid-system col-lg text-center">
      <div class="container-benefit">
        <h4 class="title-benefit">Saling menguntungkan</h4>
        <img class="benefit-img" src="/img/benefit.png" alt="education" />
      </div>
      <div class="container-text-benefit">
        <p class="text-benefit">
          Dengan sistem investasi yang cepat dengan jangka waktu 3 - 6 bulan
          maka pembagian hasil dari investasi rumah akan dibagikan 1 bulan
          setelah target pendanaan terpenuhi.
        </p>
      </div>
    </div>
    <div class="grid-system col-lg text-center">
      <div class="container-education">
        <img class="education-img" src="/img/education.png" alt="benefit" />
        <h4 class="title-education">Edukasi</h4>
      </div>
      <div class="container-text-education">
        <p class="text-education">
          HomeFunding juga ikut serta membantu orang orang yang masih
          kesulitan dan baru terjun ke dunia investasi dengan memberi edukasi
          edukasi seputar dunia investasi.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .row-adv {
    margin-top: 10%;
    margin-bottom: 10%;
    overflow-y: hidden;
  }
  .info-panel {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-auto-flow: column;
    padding: 0 8.5% 0 8.5%;
  }

  /* System */
  .title-system {
    font-size: 22px;
    color: #4169e1;
    width: 50%;
  }
  .text-system {
    margin-top: 30px;
    color: #707070;
    font-size: 15px;
    width: 352px;
  }
  .container-text-system {
    padding-right: 10px;
  }
  .system-img {
    width: 130px;
    height: 130px;
  }
  .container-system {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: #cfdbff;
    width: 352px;
    height: 194px;
  }
  .grid-system {
    margin-top: 8%;
  }
  /* End System */

  /* Benefit */
  .container-benefit {
    padding-top: 20px;
    justify-content: center;
    border-radius: 25px;
    background-color: #cfdbff;
    width: 354px;
    height: 194px;
  }
  .container-text-benefit {
    padding-right: 10px;
  }
  .benefit-img {
    width: 160px;
    height: 111px;
  }
  .title-benefit {
    font-size: 25px !important;
    width: 100%;
    overflow-x: hideen;
    overflow-y: hidden;
    color: #4169e1;
  }
  .text-benefit {
    margin-top: 30px;
    color: #707070;
    font-size: 15px;
    width: 352px;
    text-align: left;
  }
  .grid-benefit {
    margin-top: 8%;
  }
  /* End Benefit */

  /* Education */
  .container-education {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: #cfdbff;
    width: 352px;
    height: 194px;
  }
  .education-img {
    margin-right: 20%;
    width: 141px;
    height: 141px;
  }
  .title-education {
    font-size: 25px;
    color: #4169e1;
  }
  .container-text-education {
    padding-right: 10px;
  }
  .text-education {
    margin-top: 30px;
    color: #707070;
    font-size: 15px;
    width: 352px;
    text-align: left;
  }
  .grid-education {
    margin-top: 8%;
  }
  /* End Education */

  @media only screen and (max-width: 1024px) {
    .row-table {
      padding-left: 5%;
      padding-top: 50px;
      margin-bottom: 110px;
      margin-top: 0;
      display: grid;
    }
    .info-panel {
      display: inline;
    }
    /* System */
    .grid-system {
      display: flex;
      margin-top: 0;
    }
    .container-system {
      width: 100%;
    }
    .container-text-system {
      margin-left: 30px;
    }
    .text-system {
      width: 100%;
      margin-top: 0px;
    }
    /* End System */

    /* Benefit */
    .grid-benefit {
      display: flex;
      margin-bottom: 20px;
    }
    .container-benefit {
      width: 85%;
    }
    .container-text-benefit {
      margin-left: 30px;
    }
    .benefit-img {
      margin-top: 10px;
      height: 100px;
    }
    .text-benefit {
      width: 100%;
      margin-top: 0px;
    }
    /* End Benefit */

    /* Education */
    .grid-education {
      display: flex;
      margin-bottom: 20px;
    }
    .container-education {
      width: 85%;
    }
    .container-text-education {
      margin-left: 30px;
    }
    .text-education {
      width: 100%;
      margin-top: 0px;
    }
    /* End Education */
  }

  @media only screen and (max-width: 680px) {
    /* System */
    .container-system {
      width: 360px;
      height: 200px;
    }
    .system-img {
      width: 150px;
      height: 150px;
    }
    .title-system {
      font-size: 25px;
      margin-right: -10px;
    }
    .container-text-system {
      margin-top: 30px;
      margin-left: 0px;
      width: 100%;
      padding: 0px;
    }
    .text-system {
      padding-right: 10px;
    }
    .grid-system {
      /* margin: 0 20% 0 20%; */
      margin-top: 10px;
      padding: 0;
      display: block;
      width: 360px;
      margin-bottom: 20px;
    }
    /* End System */

    /* Benefit */
    .container-benefit {
      width: 360px;
      height: 200px;
    }
    .title-benefit {
      margin-top: 5px;
      font-size: 25px;
    }
    .benefit-img {
      height: 110px;
      width: 50%;
      margin-bottom: 10px;
    }
    .container-text-benefit {
      margin-top: 30px;
      margin-left: 0px;
      width: 360px;
    }
    .grid-benefit {
      padding-top: 10%;
      padding-bottom: 10%;
      display: block;
      /* margin: 0 20% 0 20%; */
      width: 100%;
    }
    /* End Benefit */

    /* Education */
    .container-education {
      width: 360px;
      height: 200px;
    }
    .title-education {
      font-size: 25px;
      margin-right: 10px;
      margin-left: -10px;
    }
    .education-img {
      height: 80%;
      width: 45%;
      margin-left: 10px;
      padding-right: 10px;
    }
    .container-text-education {
      margin-top: 30px;
      margin-left: 0px;
      padding-right: 0px;
      width: 360px;
    }
    .grid-education {
      display: block;
      /* margin: 0 20% 0 20%; */
      width: 100%;
    }
    .education-img {
      margin-right: 10%;
    }
    /* End Education */
  }

  @media only screen and (max-width: 360px) {
    .row-adv {
      margin: 0;
      width: 100%;
    }
    .row-table {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .info-panel {
      padding: 0;
    }
    /* System */
    .grid-system {
      display: grid;
      margin: 0;
      padding: 10% 5% 2% 4%;
    }
    .container-system {
      width: 327px;
    }
    .system-img {
      width: 150px;
      height: 150px;
    }
    .title-system {
      font-size: 23px;
    }
    .text-system {
      padding: 0;
      font-size: 13px;
    }
    /* End System */

    /* Benefit */
    .grid-benefit {
      display: grid;
      margin: 0;
      padding: 10% 5% 2% 4%;
    }
    .container-benefit {
      width: 327px;
    }
    .container-text-benefit {
      padding: 0;
      width: 100%;
    }
    .title-benefit {
      font-size: 23px;
    }
    .text-benefit {
      font-size: 13px;
    }
    /* End Benefit */

    /* Education */
    .grid-education {
      display: grid;
      margin: 0;
      padding: 10% 5% 2% 4%;
    }
    .container-education {
      width: 327px;
    }
    .container-text-education {
      padding: 0;
      width: 100%;
    }
    .title-education {
      font-size: 23px;
    }
    .text-education {
      font-size: 13px;
    }
    /* End Education */
  }
</style>
