---

---
<h2>Keunggulan kami</h2>
<div class="row justify-content-center">
    <div class="col-lg-10 info-panel">
      <div class="row justify-content-center">
        <div class="col-lg">
          <img class="advantageimg" src="/img/system.png" alt="system" class="float-left">
          <div>
            <h4 class="juduladv">Sistem yang mudah</h4>
          <p class="p1">Anda  dapat dengan mudah berinvestasi rumah dan tidak perlu mengeluarkan modal yang besar untuk mulai berinvestasi karena sistem kami, anda bisa mulai berinvestasi rumah dengan modal yang kecil mulai dari Rp 1 juta.</p>
          </div>
        </div>
        <div class="col-lg">
          <img class="advantageimg" src="/img/benefit.png" alt="education" class="float-left">
          <div>
            <h4 class="juduladv">Saling menguntungkan</h4>
          <p class="p1">Dengan sistem investasi yang cepat dengan jangka waktu 3 - 6 bulan maka pembagian hasil dari investasi rumah akan dibagikan 1 bulan setelah target pendanaan terpenuhi</p>
          </div>
        </div>
        <div class="col-lg">
          <img class="advantageimg" src="/img/education.png" alt="benefit" class="float-left">
          <div>
            <h4 class="juduladv">Edukasi</h4>
          <p class="p1">HomeFunding ID juga ikut serta membantu orang orang yang masih kesulitan dan baru terjun ke dunia investasi dengan memberi edukasi edukasi seputar dunia investasi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>