---
import Header from "./Header";
---

<div class="row main justify-content-center">
  <div class="col-lg-10 col-md-10 col-sm-10">
    <div class="row align-items-center px-0">
      <div class="col-sm-6 col-lg-6">
        <h1 class="title text-white">Investasi Rumah dan Ruko</h1>
        <p class="text">
          HomeFunding adalah aplikasi investasi berbasis crowd funding untuk
          investasi rumah dan bisnis untuk semua orang dengan start invest yang
          rendah serta periode imbal hasil yang cepat. Solusi terbaik untuk
          memulai investasi properti kamu.
        </p>
        <div class="box mt-0">
          <button
            class="download btn btn-light rounded-pill space"
            type="submit"
            style="color: #4169e1"
            data-bs-toggle="modal" data-bs-target="#exampleModal"
          >
            Download <i class="bi bi-google-play"></i>
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">HomeFunding APK</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <a href="https://drive.google.com/file/d/1eqjM1JrUD891xU-3M0boUfw2Drx_I4Xo/view?usp=sharing" target="_blank" style="text-decoration: none;">Download APK Gdrive Link</a>
                  <p style="margin-top: 20px;"><a href="https://www.virustotal.com/gui/file/5d72f50734a65c91fdf305c0292908ced7ce8e2ecd5588f4fb4db6913a8a6eef/detection" target="_blank" class="virus_total">Virus Total Check! Click Here</a></p>
                  <span>
                    Username : <b>user</b> <br>
                    Password : <b>12345678</b>
                  </span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 mt-3 text-end">
        <img class="text-center img_board" alt="imagecover"   width="200" src="../../../img/vector.png" />
      </div>
    </div>
    <!-- <div class="col column d-flex justify-content-center py-5">
      <div class="column d-flex">
        <p class="text-white">Kontak Kami</p>
        <i class="bi bi-arrow-right text-white"></i>
      </div>
      <div class="column d-flex">
        <p class="text-white">Solusi Kami</p>
        <i class="bi bi-arrow-right text-white"></i>
      </div>
      <div class="column d-flex">
        <p class="text-white">Cerita Kami</p>
        <i class="bi bi-arrow-right text-white"></i>
      </div>
    </div> -->
  </div>
</div>

<style scoped>
  .row.main {
    background: linear-gradient(284.5deg, #4169e1 0%, #5b84ff 101.21%);
    min-height: 55vh;
  }

  .row.align-items-center {
    padding-left: -2px;
  }

  .title {
    width: fit-content;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;

    color: #ffffff;
  }

  .img_board {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
  }

  .virus_total {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }

  .download {
    gap: 20px;
    width: 188px;
    height: 44px;
    border: 1px solid #ffffff;
    border-radius: 77px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }

  .col.column {
    gap: 57px;
    width: 100%;
    justify-self: center;
  }

  .column p {
    width: max-content;
    /* height: 23px; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-right: 5px;
  }
  .column i {
    /* height: 23px; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-left: 0px;
  }

  @media screen and (max-width: 599px) {
    .col-sm-6 {
      padding-inline: 10%;
      }
      .img_board {
        margin-bottom: 50px;
        margin-top: 30px;
        width: 100%;
      }
    .text {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.7);
    }
    .col-sm-6 .title {
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 68px;
    }
    .col-sm-6 img {
      padding-right: 5%;
    }

    .box {
      margin-top: 90px;
      margin-bottom: 40px;
      display: flex;
      width: fit-content;
      height: fit-content;
    }
  }

  @media screen and (max-width: 450px) {
    .row.main {
      /* width: 100%; */
      padding-top: 10px;
    }
    .col-lg-10 {
      /* width: 100%; */
      /* position: relative; */
    }

    .col-sm-6 img {
      padding-inline: 17%;
    }

    .box {
      justify-content: center;
      display: flex;
      width: auto;
    }

    .box .download {
      align-self: center;
      margin-top: 0px;
      width: 100%;
    }

    .title {
      /* width: 215px;
      height: 159px; */

      font-weight: 700;
      font-size: 35px;
      line-height: 52px;
    }

    .text {
      font-weight: 400;
      font-size: 15px;
      height: auto;
      line-height: 22px;
    }

    .col.column {
      gap: 18px;
    }
    .col.column .bi {
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
    }

    .col.column p {
      font-weight: 400;
      font-size: 12px;
    }
  }
</style>
