---
---

<div class="footer-main">
    <div class="container home-tab">
        <div class="container left-tab">
            <div class="container-title-footer">
                <img class="footer-image" src="../../../img/Logo.png" alt="" />
                <div>
                    <h1 class="footer-title overflow-hidden">HomeFunding</h1>
                    <p class="title-child">
                        Temukan sobat terbaik untuk investasi properti
                    </p>
                </div>
            </div>
            <div class="container menu-ask">
                <div class="menu-tab">
                    <h1 class="title-menu-ask overflow-hidden">Menu</h1>
                    <a href="#" class="link-menu">Beranda</a>
                    <a href="#" class="link-menu">Events</a>
                    <a href="#" class="link-menu">Artikel</a>
                    <a href="#" class="link-menu">Produk</a>
                </div>
                <div class="ask-tab">
                    <h1 class="title-menu-ask overflow-hidden">Tanya</h1>
                    <a href="#" class="link-ask">Tentang Kami</a>
                    <a href="#" class="link-ask">FAQ</a>
                    <a href="#" class="link-ask">Kontak Kami</a>
                    <a href="#" class="link-ask">Karir</a>
                </div>
            </div>
            <div class="container legality-tab">
                <h1 class="title-legality overflow-hidden">Legalitas</h1>
                <a  class="link-legality"
                    data-bs-toggle="modal"
                    data-bs-target="#modalTerm">Syarat & Ketentuan</a>
                <a
                    class="link-legality"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPrivacy">Kebijakan Privasi</a>
            </div>
            <div class="modal fade" id="modalTerm" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Syarat & Ketentuan
                            </h5>
                    </div>
                    <div class="modal-body text-left" style="font-size:13px">

                        <h5>Syarat & Ketentuan Penggunaan</h5>
                        <p>Situs Web ini dimiliki dan dikelola oleh <span style="font-weight: 600">PT. IoTechnology</span>, sebuah plaltform peer to peer landing yang mempertemukan antara Developer dengan para Investor untuk bekerjasama dalam membuat kawasan perumahan. Bacalah ketentuan-ketentuan penggunaan situs ini dengan cermat dan teliti sebelum Anda mulai menggunakan situs dan layanan kami. Dengan mengakses dan/atau menggunakan situs dan layanan kami, anda menyatakan bahwa Anda telah membaca dan menyetujui untuk terikat secara hukum oleh Ketentuan-ketentuan penggunaan situs web kami.</p>
                        <p style="margin-top: 20px">Situs Web ini memungkinkan para penggunanya untuk mengakses berbagai materi dan informasi pilihan investasi dalam bidang properti secara online. Materi ini dapat berupa surat perjanjian keanggotaan dan informasi lainnya terkait dengan produk dan layanan investasi yang ditawarkan oleh <span style="font-weight: 600">HomeFunding.id</span>. Situs Web ini juga berisi teks, gambar, grafik, logo, dan informasi lainnya (yang secara umum dikenal sebagai Konten).</p>
                        <p style="margin-top: 20px">Mohon untuk diperhatikan, ketika Anda mengakses dan menggunakan Situs Web ini, Anda tunduk kepada Persyaratan berikut serta semua hukum dan peraturan yang berlaku. Silahkan baca persyaratan ini dengan seksama. Jika Anda tidak menerima dan setuju untuk terikat oleh syarat atau ketentuan berikut, Anda tidak diizinkan untuk mengakses atau menggunakan Situs Web, Layanan atau Konten dalam Situs Web ini. Namun jika Anda mengakses dan menggunakan Situs Web berarti Anda telah menerima dan setuju untuk patuh terhadap setiap persyaratan dan ketentuan yang ditetapkan dibawah ini.</p>

                        <h5>Persetujuan</h5>
                        <p><span style="font-weight: 600">HomeFunding.id</span> berhak untuk mengubah, memodifikasi, menunda atau menghentikan semua atau setiap bagian dari situs atau Layanan setiap saat. <span style="font-weight: 600">HomeFunding.id</span> juga dapat menentukan batas pada fitur-fitur tertentu atau membatasi akses Anda ke bagian atau seluruh situs atau Layanan tanpa pemberitahuan atau tanggung jawab.</p>
                        <p><span style="font-weight: 600">HomeFunding.id</span> dapat dari waktu ke waktu memodifikasikan atau mengubah Ketentuan-Ketentuan Penggunaan ini dengan memposting perubahan Ketentuan Penggunaan pada situs ini. Setiap penggunaan situs atau Layanan setelah perubahan Ketentuan Penggunaan ini akan dianggap sebagai penerimaan atas perubahan Ketentuan Penggunaan oleh Anda. Jika Anda tidak setuju pada perubahan Ketentuan Penggunaan, Anda memiliki hak untuk menutup akun dan/atau berhenti menggunakan situs dan Layanan. Periksa halaman ini dari waktu ke waktu karena perubahan, variasi dan koreksi terhadap Ketentuan Penggunaan akan mengikat Anda.</p>
                        <p>Setiap orang dilarang untuk menggunakan materi dan informasi yang terdapat dalam Situs Web ini di dalam negara atau yurisdiksi dimana penggunaan tersebut dianggap melanggar hukum. Jika Anda melanggar hukum maka Anda tidak diizinkan untuk mengakses atau menggunakan informasi apa pun di dalam Web ini.</p>

                        <h5>Kepemilikan dan Pembatasan-Pembatasan Hak Cipta</h5>
                        <p>Semua Konten dan Perangkat Lunak yang terdapat dalam Situs Web ini adalah karya yang mengandung hak cipta milik <span style="font-weight: 600">HomeFunding.id</span> dan dilindungi oleh Undang-Undang Hak Cipta. Kompilasi dari semua konten dan perangkat lunak yang merupakan hak ekslusif dari HomeFunding dilindungi oleh Undang-Undang Hak Cipta. Anda dapat mengunduh informasi dari Situs Web ini dan mencetaknya untuk digunakan secara pribadi dengan syarat Anda tetap menjaga keutuhannya dan tidak menghapus atau mengubah hak cipta atau pemberitahuan lain yang terkandung dalam informasi tersebut.</p>
                        <p><span style="font-weight: 600">HomeFunding.id</span> dengan ini memberikan Anda izin terbatas untuk mengakses dan menggunakan secara pribadi Situs Web ini tetapi Anda tidak diizinkan untuk mengunduh atau memodifikasi seluruh atau sebagian dari Situs Web kecuali dengan persetujuan tertulis dari <span style="font-weight: 600">HomeFunding.id</span> Seluruh atau sebagian dari Situs Web ini tidak boleh direproduksi, diduplikasi, disalin, dijual, dijual kembali, dikunjungi, atau dimanfaatkan untuk tujuan komersial tanpa persetujuan tertulis dari <span style="font-weight: 600">HomeFunding.id</span>. Anda tidak diperkenankan mem-frame atau menggunakan teknik framing untuk menyertakan setiap merek dagang, logo, atau informasi berpemilik lainnya (termasuk gambar, teks, tata letak halaman, atau bentuk) yang menjadi milik <span style="font-weight: 600">HomeFunding.id</span> dan afiliasinya tanpa persetujuan tertulis yang jelas. Anda tidak diperkenankan menggunakan “meta-tag” atau “teks tersembunyi” lainnya yang menggunakan nama atau merek jasa apapun tanpa persetujuan tertulis dari <span style="font-weight: 600">HomeFunding.id</span> Setiap penggunaan yang tidak diperkenankan akan mengakhiri persetujuan atau izin yang diberikan oleh <span style="font-weight: 600">HomeFunding.id.</span></p>
                        <p>Informasi yang disampaikan melalui Situs Web ini. Kecuali data-data pribadi atau informasi yang Anda berikan, setiap informasi yang Anda kirimkan kepada HomeFunding melalui Situs Web ini, apakah dimasukkan secara langsung, diberikan melalui surat elektronik atau lainnya, termasuk data, pertanyaan, komentar, atau saran, akan diperlakukan sebagai hal yang bukan rahasia dan tidak berpemilik dan akan menjadi milik dari <span style="font-weight: 600">HomeFunding.id</span> Informasi tersebut dapat digunakan untuk tujuan apapun, termasuk namun tidak terbatas pada reproduksi, penawaran, pengungkapan, pengiriman, penerbitan, penyiaran, dan posting. <span style="font-weight: 600">HomeFunding.id</span> bebas menggunakan setiap gagasan, konsep, pengetahuan, atau teknik yang terkandung dalam setiap komunikasi yang Anda kirimkan kepada <span style="font-weight: 600">HomeFunding.id</span> melalui Situs Web ini atau dengan cara lain untuk tujuan apapun, termasuk, namun tidak terbatas pada, mengembangkan dan memasarkan produk-produk menggunakan informasi tersebut.</p>

                        <h5>Penggunaan Yang Dilarang</h5>
                        <p>Hal-hal berikut adalah dilarang bagi setiap penggunaan atau percobaan penggunaan dari Situs Web ini yaitu:</p>
                        <p>1. Untuk tujuan-tujuan yang melanggar hukum, tidak berizin, menipu atau maksud-maksud jahat lainnya.</p>
                        <p>2. Yang dapat merusak, melumpuhkan, membebani, atau merusak server apapun, atau jaringan yang terhubung ke server apapun.</p>
                        <p>3. Untuk mengganggu penggunaan pihak lain dan kepuasan yang didapat dari menggunakan Situs Web ini.</p>
                        <p>4. Untuk mendapatkan akses yang tidak berizin ke akun, sistem komputer atau jaringan lain apapun yang terhubung ke server atau sistem melalui peretasan, pencurian password atau cara lainnya.</p>
                        <p>5. Untuk mengakses sistem, data atau informasi yang oleh Pemilik tidak dimaksudkan untuk diakses oleh pengguna.</p>
                        <p>6. Untuk mendapatkan materi atau informasi apapun dengan cara apapun yang oleh Pemilik tidak dimaksudkan untuk diberikan, atau untuk penggunaan lainnya selain untuk kepentingan usaha yang menjadi maksud diadakannya Situs Web ini.</p>
                        <p>Selain itu, sehubungan dengan penggunaan Anda atas Situs ini, Anda setuju untuk tidak:</p>
                        <p>1. Mengunggah atau mengirimkan pesan, informasi, data, teks, perangkat lunak atau gambar, atau konten lain (“Materi”) yang melanggar hukum, membahayakan, mengancam, merugikan, melecehkan, menyakiti, mencemarkan nama baik, kasar, cabul, memfitnah, atau hal-hal lain yang tidak diterima, atau yang mungkin melanggar hak orang lain akan privasi atau publisitas;</p>
                        <p>2. Membuat identitas palsu dengan maksud untuk menyesatkan orang lain atau berkedok sebagai orang atau kelompok, termasuk namun tidak terbatas pada orang yang mewakili Chubb Group, atau secara tidak benar menyatakan atau menggambarkan diri Anda memiliki afiliasi dengan seseorang atau entitas tertentu;</p>
                        <p>3. Mengunggah atau mengirimkan Materi yang bukan menjadi hak Anda untuk direproduksi, ditampilkan atau dikirimkan berdasarkan Undang-Undang atau ikatan kontrak atau hubungan fidusiari (misalnya persetujuan untuk menjaga kerahasiaan);</p>
                        <p>4. Mengunggah atau memasukkan file-file yang berisi virus, Trojan horse, worm, bom waktu, cancel-bot, file yang korup, atau perangkat lunak atau program serupa lain yang dapat merusak pengoperasian komputer atau barang milik orang lain;</p>
                        <p>5. Menghapus atribusi terhadap pengarang, pemberitahuan hukum atau hal-hal yang berpemilik atau label yang Anda unggah ke bentuk komunikasi apapun;</p>
                        <p>6. Menggunakan fitur komunikasi Situs Web ini dengan cara yang memberikan dampak negatif terhadap ketersediaan sumber dayanya bagi pengguna lain (misalnya, shouting berlebihan, menggunakan huruf besar, atau terus menerus membanjirinya dengan posting dan teks berulang);</p>
                        <p>7. Mengunggah atau mengirimkan segala bentuk iklan yang tidak diminta, materi promosi, “junk mail,” “spam,” “surat berantai,” “skema piramida” atau segala bentuk penawaran lain, iklan komersial atau yang lainnya;</p>
                        <p>8. Melanggar hukum yang berlaku, baik itu hukum lokal, daerah, nasional maupun internasional;</p>
                        <p>9. Mengunggah atau mengirimkan setiap Materi yang melanggar hak paten, merek dagang, merek jasa, rahasia dagang, hak cipta atau hak kepemilikan lainnya dari pihak manapun;</p>
                        <p>10. Menghapus atau merevisi setiap Materi yang diposting oleh setiap orang atau entitas lain;</p>
                        <p>11. Memanipulasi atau menampilkan Situs Web ini dengan menggunakan teknik framing, mirroring atau teknologi navigasi sejenis atau membuat link langsung ke bagian apapun dari Situs Web ini selain halaman utama, HomeFunding.id, sesuai dengan izin terbatas dan akses terhadap Situs Web seperti yang diuraikan di atas;</p>
                        <p>12. Mendaftarkan, melanggankan, mencoba untuk mendaftarkan, mencoba untuk melanggankan, berhenti melanggankan, atau mencoba untuk berhenti melanggankan, pihak manapun untuk Produk atau Layanan apapun jika Anda tidak mendapat izin secara jelas dari pihak tersebut untuk melakukannya, atau</p>
                        <p>13. Mengambil atau mengumpulkan informasi tentang orang lain, termasuk alamat-alamat e-mail.</p>

                        <p><span style="font-weight: 600">HomeFunding.id</span> berhak untuk mengambil tindakan hukum apa pun yang dianggap perlu terhadap pelanggaran atau dugaan pelanggaran terhadap hal-hal yang telah disebutkan di atas, termasuk menghentikan akses dan/atau akun pengguna. <span style="font-weight: 600">HomeFunding.id</span> dapat bekerja sama dengan penegak hukum dan/atau pihak ketiga dalam penyelidikan terhadap sangkaan atau dugaan kejahatan pidana maupun perdata. <span style="font-weight: 600">HomeFunding.id</span> setiap saat berhak untuk mengungkap informasi apapun yang dianggap perlu untuk memenuhi letaatan terhadap hukum yang berlaku, peraturan, proses hukum atau permintaan pemerintah, atau untuk mengedit, menolak untuk memposting atau menghapus informasi atau materi apapun, baik sebagian maupun keseluruhan, sesuai dengan kebijakan yang diambil oleh <span style="font-weight: 600">HomeFunding.id</span></p>

                        <h5>Layanan Interaktif</h5>
                        <p>1. Kami dapat dari waktu ke waktu menyediakan layanan-layanan berikut di situs, Konten situs, Layanan kami, termasuk, tetapi tidak terbatas pada:<br>a. Chat room;<br>b. Fungsi-fungsi media sosial lain;</p>
                        <p>2. Apabila kami menyediakan setiap Layanan Interaktif, kami akan menyediakan informasi yang jelas kepada Anda tentang jenis layanan yang ditawarkan, jika untuk layanan ada moderatornya, dan bentuk moderasi apa yang digunakan (termasuk apakah dilakukan oleh manusia atau lainnya).</p>
                        <p>3. Kami akan melakukan upaya-upaya yang wajar secara komersial untuk menilai setiap potensi risiko terhadap Para Pengguna dari para pihak ketiga ketika mereka menggunakan setiap Layanan Interaktif yang disediakan di situs kami, dan kami akan memutuskan dalam setiap hal apakah tepat untuk menggunakan moderasi dari layanan yang relevan tersebut (termasuk jenis moderasi yang digunakan) dalam menangani risiko-risiko tersebut. Namun, kami tidak berkewajiban untuk mengawasi, memantau atau memoderasi setiap Layanan Interaktif yang kami sediakan di situs kami, dan kami dengan tegas mengecualikan kewajiban kami atas setiap kerugian yang timbul dari penggunaan Layanan Interaktif oleh Pengguna yang bertentangan dengan standar konten, terlepas apakah layanan itu dimoderasi atau tidak.</p>
                        <p>4. Jika kami memoderasi Layanan Interaktif, kami biasanya akan menyediakan sarana untuk menghubungi moderator, apabila muncul masalah atau kesulitan.</p>
                        <p>5. Anda bertanggung jawab secara mutlak atas interaksi Anda dengan Para Pengguna lain. Kami melindungi hak, tetapi tidak berkewajiban, untuk memantau sengketa antara Anda dan Para Pengguna lain.</p>

                        <h5>Keamanan dan Pengendalian</h5>
                        <p>Sebagai transparasi ke investor, HomeFunding akan mengacu pada peraturan OJK untuk perlindungan dana investor, HomeFunding akan memberlakukan otomatis withdraw saldo mengendap ke akun bank masing-masing investor yang terdaftar pada H+2 selesainya proyek apabila saldo tidak digunakan untuk mendanai proyek lainnya.</p>
                        <p>Anda harus melengkapi proses pendaftaran dengan memberikan informasi Anda yang terbaru, lengkap, dan akurat sebagaimana yang diminta di dalam form pendaftaran tersebut, dan menentukan password dan nama pengguna. Anda sepenuhnya bertanggung jawab untuk menjaga kerahasiaan password dan akun dan untuk menjaga semua aktivitas yang terjadi di dalam akun Anda. Dengan ini Anda juga setuju untuk :</p>
                        <p>a. Secepatnya memberitahu Pemilik jika akun Anda digunakan tanpa seizing Anda atau jika Anda mengetahui adanya pelanggaran terhadap keamanan.<br>b. Benar-benar keluar dari akun di akhir setiap sesi online. HomeFundingtidak akan bertanggung jawab atas kerugian yang mungkin timbul sebagai akibat dari password atau akun Anda digunakan oleh orang lain.</p>

                        <p>Ketika Anda mengunjungi Situs Web ini atau mengirimkan e-mail kepada kami, Anda telah berkomunikasi dengan kami secara elektronik. Anda setuju untuk menerima komunikasi dari kami secara elektronik. Kami akan berkomunikasi dengan Anda melalui e-mail atau dengan memasang pemberitahuan di situs ini. Anda setuju bahwa semua perjanjian, pemberitahuan, pengungkapan dan komunikasi lain yang kami sediakan kepada Anda secara elektronik memenuhi segala persyaratan hukum seperti halnya komunikasi yang dilakukan secara tertulis.</p>

                        <h5>Dokumen Lainnya yang Berlaku</h5>
                        <p>1. Selain ketentuan-ketentuan pengguna ini, hal yang juga berlaku terhadap para pengguna Situs ini adalah:</p>
                        <p>a. Kebijakan Privasi, yang menetapkan ketentuan-ketentuan yang berlaku ketika kami mengola data pribadi Anda yang Anda berikan kepada kami.<br>b. Dengan menggunakan situs kami, Anda telah setuju dengan pengumpulan, penggunaan, pengungkapan data pribadi Anda dan Anda menjamin bahwa data yang diberikan adalah benar dan akurat.<br>c. Kebijakan Cookie, yang menetapkan informasi tentang cookie pada situs kami. Perjanjian Keanggotaan, yang berlaku untuk penggunaan Anda atas layanan sebagai pengguna terdaftar.</p>
                        <p>2. Jika terdapat pertentangan antara Ketentuan-Ketentuan Penggunaan ini dan perjanjian lain yang berlaku untuk aspek-aspek khusus dari Layanan, yang berlaku adalah perjanjian lain itu dalam kaitannya dengan aspek-aspek khusus dari Layanan yang kepadanya perjanjian itu berlaku.</p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button
                        >
                    </div>
                </div>
            </div>
        </div>
            <div
                class="modal fade"
                id="modalPrivacy"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Kebijakan Privasi
                            </h5>
                        </div>
                        <div class="modal-body text-left" style="font-size:13px">
                            <h5>Gambaran Singkat</h5>
                            <p>1. HomeFunding berkomitmen untuk menjaga, melindungi
                            dan menghormati kerahasiaan privasi Anda.</p>
                            <p>2. Anda dapat memberikan informasi mengenai diri Anda
                            secara akurat, benar, dan terkini kepada HomeFunding.</p>
                            <p>3. Kebijakan Privasi ini berlaku untuk semua orang dan
                            institusi, baik sebagai investor, developer, pemilik
                            lahan, dan agen pemasaran yang menggunakan Situs ini.
                            Dengan Anda mengakses layanan yang tersedia melalui Situs
                            kami, Anda dengan ini mengakui bahwa Anda telah membaca
                            dan menyetujui seluruh ketentuan kami.</p>
                            <p>4. Kebijakan Privasi dirancang untuk membantu Anda mengetahui
                            dan memahami bagaimana kami mengumpulkan, menggunakan,
                            dan/atau mengolah Data pribadi yang Anda telah berikan
                            kepada kami, serta membantu Anda dalam mengambil keputusan
                            yang diberitahukan sebelum memberikan Data pribadi Anda
                            kepada kami.</p>

                            <h5 style="margin: 20px 0 10px 0;">Penggunaan Informasi dan Data pribadi</h5>
                            <p>1. HomeFunding dapat mengumpulkan informasi dan data tentang Anda, baik yang secara langsung diberikan oleh Anda atau dari pihak lain yang diizinkan oleh Anda. </p>
                            <p>2. Jika kami anggap perlu, data pribadi Anda dapat digunakan dan diungkapkan oleh Homefunding untuk tujuan berikut ini: </br>
                                a. memberikan akses kepada Anda dan memfasilitasi penggunaan Situs kami dan memastikan bahwa Konten Situs, Produk, Layanan, dan Layanan Interaktif ditampilkan dengan cara yang paling efektif untuk Anda; </br>
                                b. memberikan kepada Anda informasi, Konten Situs, Produk, Layanan dan Layanan Interaktif yang Anda minta dari kami; </br>
                                c. memberikan kepada Anda informasi, Konten Situs, Produk, Layanan dan Layanan Interaktif yang Anda minta dari kami; </br>
                                d. memberikan kepada Anda informasi tentang Produk atau Layanan kepada Anda yang kami rasa mungkin menarik bagi Anda. Apabila Anda telah menjadi Pengguna, kami hanya akan menghubungi Anda melalui email, SMS atau telepon untuk memberikan Informasi tentang Produk dan Layanan yang serupa dengan yang sebelumnya telah Anda pertimbangkan, pendanaan atau manfaatkan; </br>
                                e. memberitahu kepada Anda tentang perubahan-perubahan di Situs, Konten Situs, Produk, Layanan, Layanan Interaktif; </br>
                                f. mengelola Situs kami dan untuk pengoperasian internal, termasuk pemecahan masalah (troubleshooting), analisis data, pengujian, penelitian, tujuan statistik dan survei; </br>
                                g. meningkatkan Situs kami untuk memastikan bahwa Konten Situs, Produk, Layanan, dan Layanan Interaktif disampaikan dengan cara yang paling efektif untuk Anda; </br>
                                h. membuat saran dan rekomendasi untuk Anda dan Para Pengguna lain Situs kami tentang Produk, Layanan yang mungkin menarik bagi Anda atau mereka; </br>
                                i. membuat keputusan yang berkaitan dengan pembukaan atau kelanjutan akun pengguna dan pembuatan, penyediaan atau kelanjutan dari layanan dan produk selain itu menjaga akurasi informasi "kenali pelanggan Anda" dan melakukan pemeriksaan anti pencucian uang, kredit dan latar belakang; </br>
                                j. menyediakan, mengoperasikan, memproses dan mengelola akun pengguna, layanan dan produk atau mengelola aplikasi-aplikasi untuk akun pengguna, layanan dan produk, setiap transaksi (termasuk transaksi pengiriman uang), dan menjaga kualitas layanan dan melatih staf; </br>
                                k. menyediakan atau memberikan akses kepada materi-materi terkait Produk seperti dokumen penawaran, laporan, profil produk, lembar ketentuan (term sheet) atau materi-materi lain terkait produk; </br>
                                l. melakukan penilaian risiko, analisis dan perencanaan statistik dan tren, termasuk melaksanakan pengolahan data, analisis statistik, kredit, risiko dan anti pencucian uang, membuat dan mengelola model penilaian kredit, melakukan pemeriksaan dan peninjauan kredit dan latar belakang lain, dan menyimpan sejarah kredit Anda untuk referensi saat ini dan di masa mendatang; </br>
                                m. memantau dan mencatat panggilan dan komunikasi elektronik dengan Anda untuk tujuan pencatatan, kualitas, pelatihan, investigasi, dan pencegahan penipuan; </br>
                                n. mendeteksi, mencegah, melakukan penyidikan dan mendakwa kejahatan dan penipuan termasuk membantu dalam setiap penyidikan kejahatan oleh otoritas yang relevan terhadap Anda, individu yang relevan atau orang lain; </br>
                                o. melakukan menajemen internal untuk mengoperasikan sistem informasi kontrol dan manajemen dan melaksanakan audit internal atau mengizinkan pelaksanaan audit eksternal; </br>
                                p. mengelola hubungan HomeFunding dengan Anda, yang dapat termasuk menyediakan informasi kepada Anda atau individu yang relevan, tentang produk dan layanan HomeFunding, apabila secara khusus disetujui atau apabila diizinkan berdasarkan peraturan perundang-undangan yang berlaku; </br>
                                q. untuk memasarkan produk atau layanan keuangan atau yang terkait dengan investasi melalui berbagai cara komunikasi termasuk surat, telepon, SMS, fax, email, internet, riset pasar, dan merancang atau menyaring produk atau layanan yang serupa termasuk dengan melakukan riset pasar, analisis data, dan survei; </br>
                                r. mematuhi setiap kewajiban, persyaratan, kebijakan, prosedur, penilaian atau pengaturan untuk berbagi data dan informasi dalam HomeFunding dan penggunaan data dan informasi lainnya sesuai dengan setiap program HomeFunding untuk pemenuhan sanksi atau pencegahan atau pendeteksian pencucian uang, pendanaan teroris atau kegiatan melanggar hukum lainnya. </p>
                            <p>3. Kami dapat menggabungkan setiap informasi dan data, terlepas dari bagaimana informasi dan data tersebut diberikan kepada kami atau dikumpulkan oleh kami untuk tujuan memberikan kepada Anda produk dan layanan kami. </p>
                            <p>4. Sebagaimana tujuan dari kami dapat mengumpulkan, menggunakan, mengungkapkan atau mengolah Data pribadi Anda tergantung pada keadaan pada saat itu, tujuan tersebut mungkin tidak muncul dalam poin di atas. Namun, kami akan memberitahu Anda tentang tujuan lain tersebut pada saat meminta persetujuan Anda untuk pengumpulan Data pribadi tersebut, kecuali pengolahan Data pribadi Anda tanpa persetujuan Anda yang diizinkan oleh hukum. </p>
                            <p>5. Kami juga dapat berbagi Data pribadi dengan Para Pihak Ketiga Yang Dipilih termasuk:</br>
                                a. para mitra usaha, pemasok dan sub-kontraktor untuk pelaksanaan setiap kontrak yang kami adakan dengan mereka atau Anda;</br>
                                b. para pengiklan dan jaringan-jaringan iklan yang memerlukan data untuk memilih dan menyediakan iklan yang relevan kepada Anda dan orang lain;</br>
                                c. penyedia analisis dan mesin pencari yang membantu kami dalam peningkatan dan optimalisasi situs kami;</br>
                                d. calon penjual atau pembeli bisnis atau aset apabila kami menjual atau membeli bisnis atau aset apapun, dalam hal ini kami dapat mengalihkan Data pribadi Anda kepada pembeli atau penjual tersebut sebagai bagian dari transaksi;</br>
                                e. setiap organisasi atau orang tersebut, jika kami berada di bawah kewajiban untuk mengungkapkan atau membagikan Data pribadi Anda untuk mematuhi setiap kewajiban hukum, atau untuk melaksanakan atau menerapkan Ketentuan-Ketentuan Penggunaan kami, dan perjanjian lainnya, atau untuk melindungi hak, aset, atau keamanan dari HomeFunding, pelanggan kami, Para Pengguna atau lainnya. Ini termasuk bertukar informasi dengan perusahaan dan organisasi lain untuk tujuan perlindungan dari penipuan dan pengurangan risiko kredit;</br>
                                f. agen, kontraktor atau penyedia layanan pihak ketiga yang menyediakan administrasi, pengiriman pos, telemarketing, telekomunikasi penjualan langsung, call center, proses bisnis, perjalanan, visa, manajemen pengetahuan, sumber daya manusia, pengolahan data, teknologi informasi, komputer, pembayaran, penagihan utang, referensi kredit atau pemeriksaan-pemeriksaan latar belakang lain atau layanan-layanan lain kepada HomeFunding sehubungan dengan pengoperasian bisnis dari HomeFunding;</br>
                                f. agen, kontraktor atau penyedia layanan pihak ketiga yang menyediakan administrasi, pengiriman pos, telemarketing, telekomunikasi penjualan langsung, call center, proses bisnis, perjalanan, visa, manajemen pengetahuan, sumber daya manusia, pengolahan data, teknologi informasi, komputer, pembayaran, penagihan utang, referensi kredit atau pemeriksaan-pemeriksaan latar belakang lain atau layanan-layanan lain kepada HomeFunding sehubungan dengan pengoperasian bisnis dari HomeFunding;</br>
                                g. orang atau entitas yang merupakan bagian dari Grup HomeFunding walaupun hanya sepanjang diperlukan untuk memenuhi Tujuan Yang Diizinkan yang relevan;</br>
                                h. bank tertarik atau penarik sehubungan dengan setiap cek atau yang setara yang diproses oleh HomeFunding atau;</br>
                                i. lembaga keuangan yang dengannya Anda memiliki atau mengajukan untuk memiliki urusan terkait dengan setiap Produk dan/atau Layanan;</br>
                                j. lembaga keuangan, agen proses, atau pihak lain yang akan terlibat dalam transaksi pengiriman uang atau kegiatan perbankan/keuangan apapun;</br>
                                k. penerima pengalihan yang sebenarnya atau yang diajukan dari HomeFunding atau Grup HomeFunding, atau peserta atau sub-peserta atau penerima pengalihan hak-hak HomeFunding atau Grup HomeFunding sehubungan dengan Anda atau Individu Yang Relevan lain, semua atau sebagian dari aset atau bisnis dari HomeFunding atau Grup HomeFunding;</br>
                                l. pihak yang memberikan atau mengajukan untuk memberikan jaminan atau jaminan pihak ketiga kepada penerima jaminan atau menjamin kewajiban-kewajiban Anda atau orang-orang dari Individu Yang Relevan manapun.</br></p>
                                <p>6. Dalam hal ini, tujuan atas penggunaan dan pengungkapan informasi dan data tentang Anda yang dimaksud berdasarkan tujuan dari kebijakan ini secara kolektif selanjutnya disebut sebagai "Tujuan Yang Diizinkan".</p>

                                <h5>Administrasi dan Pengelolaan Data pribadi Anda</h5>
                                <p>1. Kami akan melakukan upaya yang wajar untuk memastikan bahwa Data pribadi Anda akurat dan lengkap, jika data pribadi Anda kemungkinan akan digunakan oleh HomeFunding untuk membuat keputusan yang mempengaruhi Anda, atau mengungkapkan kepada organisasi lain. Namun, ini berarti bahwa Anda harus juga memberitahukan kepada kami setiap perubahan pada data pribadi Anda yang awalnya Anda berikan kepada kami. Kami tidak akan bertanggung jawab untuk mengandalkan data pribadi yang tidak akurat dan tidak lengkap yang diakibatkan karena Anda tidak memberitahukan kepada kami setiap perubahan pada Data pribadi Anda yang awalnya Anda berikan kepada kami.</p>
                                <p>2. Kami juga akan menempatkan pengaturan pengamanan yang wajar untuk memastikan data pribadi Anda cukup terlindungi dan aman. Pengaturan pengamanan yang sesuai akan dilakukan untuk mencegah akses, pengumpulan, penggunana, pengungkapan, penyalinan, perubahan, kebocoran, kehilangan, kerusakan dan/atau perubahan yang tidak sah terhadap Data pribadi Anda. Namun, kami tidak menanggung suatu tanggung jawab apapun atas setiap penggunaan tidak sah dari data pribadi Anda oleh para pihak ketiga yang sepenuhnya disebabkan oleh faktor-faktor di luar kendali kami.</p>
                                <p>3. Kami juga akan menempatkan langkah-langkah yang memastikan Data pribadi Anda yang ada di bawah penguasaan atau berada di bawah kendali kami dimusnahkan dan/atau dijadikan bersifat anonim sesegera mungkin saat dianggap wajar untuk mengasumsikan bahwa:</br>
                                    (i) tujuan Data pribadi itu dikumpulkan tidak lagi dipenuhi dengan penyimpanan Data pribadi tersebut; dan</br>
                                    (ii) penyimpanan tidak lagi perlu dilakukan untuk tujuan hukum atau bisnis lain apapun.</br></p>
                                <p>4. Apabila Data pribadi Anda akan dipindahkan dari negara manapun di tempat Anda mengakses Situs ini, kami akan mematuhi hukum yang berlaku dalam melakukannya.</p>

                                <h5>Hak Untuk Menolak Penggunaan Data pribadi Untuk Tujuan Pemasaran</h5>
                                <p>Anda memiliki hak untuk meminta kami agar tidak mengolah Data pribadi Anda untuk tujuan pemasaran. Kami akan memberitahu Anda dan meminta persetujuan dari Anda sebelum kami menggunakan Data pribadi Anda untuk tujuan tersebut atau jika kami bermaksud mengungkapkan Data pribadi Anda kepada pihak ketiga manapun untuk tujuan tersebut. Anda dapat menggunakan hak Anda untuk menolak pengolahan tersebut dengan cara memberikan tanda pada formulir yang terkait yang kami gunakan untuk mengumpulkan data Anda. Bahkan setelah Anda memberikan persetujuan Anda atas Data pribadi yang akan digunakan untuk tujuan pemasaran, Anda dapat, setiap saat setelah itu, menarik persetujuan Anda dengan menghubungi kami di <a>kontrakdana@gmail.com</a></p>

                                <h5>Link Ke Situs Lain</h5>
                                <p>Situs kami dapat, dari waktu ke waktu, berisi link ke Situs-Situs Pihak Ketiga dan website dari jaringan mitra, pengiklan, afiliasi atau anak perusahaan kami. Jika Anda mengikuti suatu link ke salah satu website tersebut, perlu Anda ketahui bahwa website tersebut dapat memiliki atau tidak memiliki kebijakan privasi mereka sendiri dan bahwa kami tidak menerima tanggung jawab atau kewajiban atas kebijakan-kebijakan ini atau tidak adanya kebijakan-kebijakan ini. Bacalah kebijakan ini sebelum Anda menyerahkan informasi apapun termasuk Data pribadi Anda pada website tersebut.</p>

                                <h5>Akses ke Informasi</h5>
                                <p>1. Anda memiliki hak untuk meminta kepada kami Data pribadi tentang Anda yang disimpan oleh HomeFunding. Jika Anda ingin mengakses, memutakhirkan atau mengubah atau menghapus setiap informasi yang Anda berikan kepada kami, hubungi kami di <a>kontrakdana@gmail.com</a> untuk mendapatkan bantuan.</p>
                                <p>2. Dalam keadaan-keadaan luar biasa, HomeFunding dapat menolak akses Anda ke Data pribadi Anda tetapi kami akan memberikan kepada Anda penjelasan tentang alasan yang mencegah kami melakukan hal itu berdasarkan hukum yang berlaku. Keadaan-keadaan luar biasa tersebut termasuk tetapi tidak terbatas pada apabila:</br>
                                    a. para mitra usaha, pemasok dan sub-kontraktor untuk pelaksanaan setiap kontrak yang kami adakan dengan mereka atau Anda;</br>
                                    b. para pengiklan dan jaringan-jaringan iklan yang memerlukan data untuk memilih dan menyediakan iklan yang relevan kepada Anda dan orang lain;</br>
                                    c. penyedia analisis dan mesin pencari yang membantu kami dalam peningkatan dan optimalisasi situs kami;</p>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container right-tab">
            <div class="right-tab-title">Office</div>
            <div class="address-tab">
                <img
                    class="address-image"
                    src="../../../img/address-icon.png"
                    alt=""
                />
                <div class="address-paragraph">
                    Jln. Kp. Bojong, No.56
                    <br />Kecamatan Sukmajaya 16418
                    <br />Depok, Jawa Barat
                </div>
            </div>
            <div class="web-tab">
                <img
                    class="web-image"
                    src="../../../img/link-icon.png"
                    alt=""
                />
                <div class="web-paragraph">https://HomeFunding-id.tech</div>
            </div>
            <div class="mail-tab">
                <img
                    class="mail-image"
                    src="../../../img/mail-icon.png"
                    alt=""
                />
                <div class="mail-paragraph">Coming Soon</div>
            </div>
            <div class="sub-tab">
                <form class="form-sub" action="#">
                    <input
                        class="text-sub"
                        type="text"
                        placeholder="nama@email.com"
                        name="subscribe"
                    />
                    <button class="submit-sub" type="submit"
                        >Berlangganan</button
                    >
                </form>
            </div>
            <!-- <div class="social-media-image">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <button class="socmed-image"><i class="fa fa-twitter"></i></button>
                <button class="socmed-image"><i class="fa fa-telegram"></i></button>
                <button class="socmed-image"><i class="fa fa-instagram"></i></button>
                <button class="socmed-image"><i class="fa fa-facebook"></i></button>
            </div> -->
        </div>
    </div>
</div>

<style>
    .home-tab {
        display: flex;
        margin: 50px 0 0 6.5%;
        padding: 0 0 0 0;
        width: 100%;
    }

    /* Left Tab */
    .container-title-footer {
        display: flex;
    }
    .footer-image {
        margin-right: 20px;
        width: 65px;
        height: 65px;
    }
    .left-tab {
        overflow: hidden;
        margin: 0 0 60px 0;
        padding: 0;
        width: 50%;
        height: 100%;
    }
    .footer-title {
        margin: 0;
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
    .title-child {
        color: white;
        font-size: 15px;
    }
    .footer-main {
        width: 100%;
        background-color: #4169e1;
    }

    /* Menu-ask Tab */
    .menu-ask {
        display: flex;
        margin-top: 50px;
        padding: 0;
    }
    .title-menu-ask {
        font-size: 20px;
        font-weight: 400;
        color: #7ca5db;
    }
    /* End Menu-ask Tab */

    /* Menu-tab */
    .menu-tab {
        width: 40%;
    }
    .link-menu {
        width: 60px;
        display: block;
        margin-top: 16px;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
    }
    /* End Menu-tab */

    /* Ask-tab */
    .ask-tab {
        width: 50%;
    }
    .link-ask {
        width: 100px;
        display: block;
        margin-top: 16px;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
    }
    /* End Ask-tab */

    /* Legality-tab */
    .legality-tab {
        padding: 0;
        margin-top: 50px;
    }
    .title-legality {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        color: #7ca5db;
    }
    .link-legality {
        width: 140px;
        display: block;
        margin-top: 16px;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
    }
    /* End Legality-tab */

    /* End Left Tab */

    /* Right Tab */
    .right-tab {
        overflow-y: hidden;
        width: 50%;
        margin: 0 0 60px 50px;
        padding: 0 0 0 0;
    }
    .right-tab-title {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        color: #7ca5db;
    }

    /* Address */
    .address-tab {
        display: flex;
        margin-top: 16px;
        padding: 0;
    }
    .address-image {
        width: 16px;
        height: 30px;
    }
    .address-paragraph {
        margin-left: 10px;
        width: 100%;
        height: auto;
        font-size: 15px;
        font-weight: 300;
        color: #ffffff;
    }
    /* End Adress */

    /* Web */
    .web-tab {
        display: flex;
        margin-top: 16px;
    }
    .web-image {
        margin-top: 2px;
        width: 16px;
        height: 20px;
    }
    .web-paragraph {
        margin-left: 10px;
        width: 100%;
        height: auto;
        font-size: 15px;
        font-weight: 300;
        color: #ffffff;
    }
    /* End Web */

    /* Mail */
    .mail-tab {
        display: flex;
        margin-top: 16px;
    }
    .mail-image {
        margin-top: 2px;
        width: 16px;
        height: 20px;
    }
    .mail-paragraph {
        margin-left: 10px;
        width: 100%;
        height: auto;
        font-size: 15px;
        font-weight: 300;
        color: #ffffff;
    }
    /* End Mail */

    /* Subscribe */
    .sub-tab {
        width: 100%;
        margin-top: 50px;
    }
    .form-sub {
        display: flex;
        width: 100%;
        white-space: 0;
    }
    .text-sub {
        width: 65%;
        padding: 0 0 0 5px;
        border-radius: 10px 0 0 10px;
        height: 43px;
        border: none;
    }
    .submit-sub {
        background: #56b3ff;
        color: #fff;
        border: 1px solid;
        border-radius: 0 10px 10px 0;
        text-shadow: none;
        border: none;
        height: 43px;
        width: 34%;
    }
    /* End Subscribe */

    /* Social Media Image */
    .social-media-image {
        margin: 50px 0 0 0;
        text-align: end;
        overflow-y: auto;
        font-size: 40px;
        padding: 50px;
    }
    .socmed-image {
        background-color: #4169e1;
        border: none;
        color: white;
        right: 0;
        margin-left: 30px;
        font-size: 34px;
        height: 39px;
        width: 39px;
        padding: 0;
        overflow-y: none;
    }
    .fa {
        overflow-y: none;
        width: 36px;
        height: 36px;
    }
    /*  End Social Media Image */

    /* Report */
    .link-container {
        margin: 50px 5px 0 0;
        text-align: right;
    }
    .link-report {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        margin: 0 0 0 0;
    }
    /* End Report */

    /* End Right Tab */

    @media only screen and (max-width: 1024px) {
        .home-tab {
            margin-left: 3%;
        }
        .right-tab {
            margin: 0;
        }
        .social-media-image {
            padding-left: 49%;
            width: 99%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }
        .socmed-image {
            width: 35px;
            height: 35px;
            padding: 0;
            margin: 0 0 0 0;
            position: relative;
        }
        .fa {
            position: absolute;
            align-items: center;
            margin: 0 0 0 0;
            top: 0;
            right: 5%;
            overflow: hidden;
        }

        .text-sub {
            font-size: 15px;
        }
        .submit-sub {
            font-size: 15px;
        }
    }

    @media only screen and (max-width: 680px) {
        .home-tab {
            display: block;
            position: relative;
            padding: 0;
            margin-left: 10%;
            width: 100%;
            margin-bottom: 40px;
        }
        .left-tab {
            width: 100%;
            margin-bottom: 65px;
        }
        .right-tab {
            width: 100%;
        }
        .social-media-image {
            margin-top: 0;
            padding-left: 55%;
        }
        .socmed-image {
            font-size: 30px;
        }
        .fa {
            width: 31px;
            height: 31px;
        }
        .sub-tab {
            display: none;
            margin-top: 0;
            width: 341px;
            position: absolute;
            top: 44%;
            right: 0;
        }
        .text-sub {
            width: 57%;
            font-size: 12px;
        }
        .submit-sub {
            width: 41%;
            font-size: 12px;
        }
        .form-sub {
            width: 100%;
        }
        .link-container {
            margin-bottom: 50px;
        }
    }

    @media only screen and (max-width: 360px) {
        .home-tab {
            margin-left: 0;
            padding: 0 5% 0 5%;
        }

        .left-tab {
            margin-bottom: 40%;
        }

        .footer-image {
            width: 25%;
        }
        .footer-title {
            font-size: 17px;
        }
        .title-child {
            font-size: 12px;
            width: 80%;
        }

        .menu-tab {
            width: 60%;
        }
        .title-menu-ask {
            font-size: 17px;
            font-weight: 400;
        }
        .link-menu {
            font-size: 12px;
            font-weight: 400;
        }
        .link-ask {
            font-size: 12px;
            font-weight: 400;
        }

        .title-legality {
            font-size: 17px;
            font-weight: 400;
        }
        .link-legality {
            font-size: 12px;
            font-weight: 400;
        }

        .right-tab-title {
            font-size: 17px;
            font-weight: 400;
        }

        .address-paragraph {
            margin-top: 2px;
            font-size: 12px;
            font-weight: 400;
        }
        .web-paragraph {
            font-size: 12px;
            font-weight: 400;
        }
        .mail-paragraph {
            font-size: 12px;
            font-weight: 400;
        }

        .text-sub {
            font-size: 12px;
        }
        .submit-sub {
            font-size: 12px;
        }

        .social-media-image {
            margin-top: 18%;
            padding-left: 30%;
        }
        .socmed-image {
            width: 31px;
            height: 32px;
        }
        .fa {
            font-size: 28px;
        }

        .link-report {
            font-size: 12px;
            font-weight: 400;
        }

        .sub-tab {
            margin-top: 0;
            width: 100%;
            padding: 0 5% 0 5%;
            position: absolute;
            top: 50%;
        }
    }
</style>
