---

---
<div class="main" style="background-color: blue;">
    <div class="container col">
    <div class="container"  style="display: flex; align-items: ; justify-content: left;">
        <img src="../public/img/Logo.png" alt="" style="margin-top: 20px;">
        <div style="font-size: 20px; padding-top: 35px; color: white; padding-left: 5px;">
            HomeFunding ID
        </div>
    </div>

    
</div>
</div>